<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216006221264-ol9g7aq3l49cie4att7dh7cljfmk97jv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216006221264-ol9g7aq3l49cie4att7dh7cljfmk97jv</string>
	<key>API_KEY</key>
	<string>AIzaSyA46YZm-xRczYSdCeZZa-27YOXmiVFXU8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>216006221264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miempresa.RuaSnapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-a898c</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-a898c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216006221264:ios:308d3c52a3987afa62edd5</string>
</dict>
</plist>